.title{
    text-align: center;
    background-color: #E0E0E0;
}

.header{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom-color: beige;
}

.cover{
  cursor: pointer;  
}

.cover .cover-hiddenElement{
    display: none;
}

.cover .thumbnail:hover:after {
    content: attr(data-title);
    position: absolute; 
    left: 20%; top: 30%;
    z-index: 1;
    background: rgba(255,255,230,0.9);
}